= form_for @thesis, :html=>{:class=>"form-horizontal"} do |f|
  - if @thesis.errors.any?
    #error_explanation
      %h2= "#{pluralize(@thesis.errors.count, "error")} prohibited this thesis from being saved:"
      %ul
        - @thesis.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "题目", :class=>"col-md-2 control-label"
    .col-md-5
      = f.text_field :title, :class=>"form-control"

  .form-group
    = f.label "摘要", :class=>"col-md-2 control-label"
    .col-md-5
      = f.text_area :abstract, :value=>@thesis.abstract, :rows=>5, :class=>"form-control"

  .form-group
    = f.label "关键词", :class=>"col-md-2 control-label"
    .col-md-5
      = f.text_field :keywords, :class=>"form-control"

  .form-group
    = f.label "状态", :class=>"col-md-2 control-label"
    .col-md-5
      = f.select :status, generate_all_theses_status, {:selected=>@thesis.status}, {:class=>"form-control"}

  .form-group
    .col-md-5.col-md-offset-2
      = f.submit '保存', :class=>"btn btn-default"

