- provide(:title, "专利管理")

%h1.page-header 专利管理

.row
  .col-md-9
    .well
      .row
        .col-md-3.col-md-offset-5
          = link_to '新建专利', new_patent_path, :class=>"btn btn-lg btn-success"

%br

- @patents.each_slice(3) do |slice|
  .row
    - slice.each do |patent|
      .col-md-3.black-link
        %a{:href=>patent_path(patent)}
          .offer.offer-danger
            .shape
              .shape-text hot
            .offer-content
              %h4.lead= patent.title
              %p
                = "负责人：#{patent.user && patent.user.name}"
                %br
                = "代理公司：#{patent.agency}"
                %br
                = "状态：#{get_patent_status_string(patent.status)}"

