= form_for @group, :html=>{:class=>"form-horizontal"} do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "名称", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :name, :class=>"form-control"

  .form-group
    = f.label "学校", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :university, :class=>"form-control"

  .form-group
    = f.label "院系", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :school, :class=>"form-control"

  .form-group
    .col-md-3.col-md-offset-2
      = f.submit '保存', :class=>"btn btn-default"

