%h1.page-header 团队组成

%table.table.table-striped
  %tr
    %th 名词
    %th 学校
    %th 院系
    %th 操作

  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.university
      %td= group.school
      %td
        = link_to 'Show', group
        = link_to 'Edit', edit_group_path(group)
        = link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to '创建小组', new_group_path

