%h1.page-header 我的团队

= form_for @root_group, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label :name, "名称: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @root_group.name

  .form-group
    = f.label :university, "学校: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @root_group.university

  .form-group
    = f.label :school, "院系: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @root_group.school

  .form-group
    .col-md-3.col-md-offset-1
      = link_to '编辑', edit_group_path(@root_group), :class=>"btn btn-default"

%table.table.table-striped
  %tr
    %th 名词
    %th 学校
    %th 院系
    %th 操作

  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.university
      %td= group.school
      %td
        = link_to 'Show', group
        = link_to 'Edit', edit_group_path(group)
        = link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to '创建小组', new_group_path, :class=>"btn btn-default"

