- provide(:title, "团队管理")

%h1.page-header 团队管理

= form_for @root_group, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label :name, "名称: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @root_group.name

  .form-group
    = f.label :university, "学校: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @root_group.university

  .form-group
    = f.label :school, "院系: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @root_group.school

  .form-group
    .col-md-3.col-md-offset-1
      = link_to '编辑', edit_group_path(@root_group), :class=>"btn btn-default"

%br
%br

%h2.page-header 团队组织架构

.row
  .col-md-10.col-md-offset-2
    #group-chart

%br
%br

%h2.page-header 小组详细信息

%table.table.table-striped
  %tr
    %th 名词
    %th 学校
    %th 院系
    %th 操作

  - @child_groups.each do |group|
    %tr
      %td= link_to group.name, group, :target=>"_blank"
      %td= group.university
      %td= group.school
      %td
        = link_to '编辑', edit_group_path(group)
        = link_to '删除', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to '新建小组', new_group_path, :class=>"btn btn-default"

%ul#org{:style=>"display:none"}
  %li
    = @root_group.name
    %ul
      - @child_groups.each do |group|
        %li= group.name

<script type="text/javascript">
jQuery(document).ready(function() {
$("#org").jOrgChart({
chartElement : '#group-chart'
});
});
</script>
