%h1.page-header 查看团队

= form_for @group, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label :name, "名称: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @group.name

  .form-group
    = f.label :university, "学校: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @group.university

  .form-group
    = f.label :school, "院系: ", :class=>"col-md-1 control-label"
    .col-md-3
      %p.form-control-static= @group.school

  .form-group
    .col-md-3.col-md-offset-1
      = link_to '编辑', edit_group_path(@group), :class=>"btn btn-default"
