- provide(:title, "成员管理")

%h1.page-header 成员管理

%table.table.table-striped
  %tr
    %th 姓名
    %th 身份
    %th 团队
    %th 邮箱
    %th 电话
    %th 操作

  - @users.each do |user|
    %tr
      %td= link_to user.name, user_path(user), :target=>"_blank"
      %td
        - if user.identity == Setting.users.identity_admin
          = Setting.users.identity_admin_string
        - elsif user.identity == Setting.users.identity_teacher
          = Setting.users.identity_teacher_string
        - elsif user.identity == Setting.users.identity_student
          = Setting.users.identity_student_string
      %td= user.group.name
      %td= user.email
      %td= user.phone
      %td
        = link_to '分组', edit_group_users_path(:id=>user.id)
        = link_to '删除', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

