%h1.page-header 团队成员

%table.table.table-striped
  %tr
    %th 姓名
    %th 身份
    %th 团队
    %th 邮箱
    %th 电话
    %th 操作

  - @users.each do |user|
    %tr
      %td= link_to user.name, user_path(user)
      %td= user.identity
      %td= user.group.name
      %td= user.email
      %td= user.phone
      %td= link_to '修改小组', edit_group_users_path(user)

