%h2.page-header 用户信息

= form_for @user, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label "姓名: ", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @user.name

  .form-group
    = f.label "电话: ", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @user.phone

  .form-group
    = f.label "邮箱: ", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @user.email

  .form-group
    = f.label "团队: ", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @user.group.name

  .form-group
    = f.label "身份: ", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :identity, generate_all_identity, {:selected=>@user.identity}, {:disabled=>"disabled", :class=>"form-control"}

