%h2.page-header 用户信息

= form_for @user, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label :name, "姓名", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :name, :disabled=>"disabled", :class=>"form-control"

  .form-group
    = f.label :identity, "身份", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :identity, generate_all_identity, {:selected=>Setting.users.identity_student}, {:disabled=>"disabled", :class=>"form-control"}

  .form-group
    = f.label :email, "邮箱", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :email, autofocus: true, :disabled=>"disabled", :class=>"form-control"

  .form-group
    = f.label :phone, "电话", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :phone, :disabled=>"disabled", :class=>"form-control"

