%h1.page-header 课题组动态

- if user_signed_in?
  %h2= link_to "欢迎您，#{current_user.email}", "#"
  - if current_user.group
    = "您的团队: "
    = link_to current_user.group.name, current_user.group
  - else
    = link_to "创建团队", new_group_path, :class=>"btn"

