- provide(:title, "知蛛网 - 科研工作管理平台")

%h1.page-header 团队动态

- if user_signed_in?
  - if !current_user.group
    - if current_user.identity == Setting.users.identity_admin
      %p 您还没有团队，请先创建您的团队
      .well
        .row
          .col-md-2.col-md-offset-4
            = link_to "创建团队", new_group_path, :class=>"btn btn-success btn-lg"
    - else
      %p 您还没有团队，请先加入您的团队
      .well
        = form_for current_user, :url=>update_group_users_path, :method=>:put, :html=>{:class=>"form-horizontal"} do |f|
          .form-group
            = f.label "选择团队", :class=>"col-md-4 control-label"
            .col-md-3
              = f.select :group_id, @groups.map{|g| [g.name, g.id]}, {:selected=>nil}, {:class=>"form-control"}

          .form-group
            .col-md-3.col-md-offset-4
              = f.submit '确定', :class=>"btn btn-default"

  - if current_user.group
    .row
      .col-md-9
        - @all_histories.each do |item|
          .panel
            %div{:class=>item[:panel_style]}
              .panel-heading
                %h3.panel-title= item[:panel_head_title]
              .panel-body
                = link_to item[:operator].name, item[:operator], :target=>"_blank" if item[:operator]
                = item[:action]
                = "#{item[:object].user.name}的" if item[:is_show_author]
                = link_to item[:title], item[:object], :target=>"_blank"

