= form_for [@object, @document] do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :title, :placeholder=>"输入文档标题", :class=>"form-control"

  .form-group
    = f.kindeditor :content, :height=>300, :simple_mode => true, :class=>"form-control"

  .form-group
    = f.submit '保存', :class=>"btn btn-default"

