%h3.wall-header
  .wall-header-content
    .row
      .col-md-4
        全部文档
      .col-md-3.col-md-offset-5
        - if @category == Setting.documents.category_project
          = link_to '新建文档', new_project_document_path(@object), :class=>"btn btn-default"
        - elsif @category == Setting.documents.category_paper
          = link_to '新建文档', new_paper_document_path(@object), :class=>"btn btn-default"
        - elsif @category == Setting.documents.category_patent
          = link_to '新建文档', new_patent_document_path(@object), :class=>"btn btn-default"
        - elsif @category == Setting.documents.category_thesis
          = link_to '新建文档', new_thesis_document_path(@object), :class=>"btn btn-default"
%br

%table.table.table-hover
  - @documents.each do |document|
    %tr
      %td
        .row
          .col-md-7
            = link_to document.title, [@object, document]
          .col-md-2
            = document.user && document.user.name
          .col-md-3
            = document.created_at.strftime("%m-%d %H:%M")

