= form_for @project, :html=>{:class=>"form-horizontal"} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "名称", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :title, :class=>"form-control"

  .form-group
    = f.label "负责人", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :user_id, @users.map{|u| [u.name, u.id]}, {:selected=>(@project.user ? @project.user.id : nil)}, {:class=>"form-control"}

  .form-group
    = f.label "类别", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :category, generate_all_project_categories, {:selected=>@project.category}, {:class=>"form-control"}

  .form-group
    = f.label "来源", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :source, :class=>"form-control"

  .form-group
    = f.label "开始时间", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :begin_at, :class=>"form-control"

  .form-group
    = f.label "结束时间", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :end_at, :class=>"form-control"

  .form-group
    = f.label "状态", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :status, generate_all_project_status, {:selected=>@project.status}, {:class=>"form-control"}

  .form-group
    .col-md-3.col-md-offset-2
      = f.submit '保存', :class=>"btn btn-default"

