- provide(:title, "项目管理")

%h1.page-header 项目管理

.row
  .col-md-9
    .well
      .row
        .col-md-3.col-md-offset-5
          = link_to '新建项目', new_project_path, :class=>"btn btn-lg btn-success"

%br

%h4.black-link
  = link_to "#{@not_finish_count}个正在进行的项目", projects_path
  = link_to "#{@finish_count}个已完成的项目", finish_projects_path

- @projects.each_slice(3) do |slice|
  .row
    - slice.each do |project|
      .col-md-3.black-link
        %a{:href=>project_path(project), :target=>"_blank"}
          .offer.offer-danger
            .shape
              .shape-text hot
            .offer-content
              %h4.lead= project.title
              %p
                = "负责人：#{project.user && project.user.name}"
                %br
                = "类别：#{get_project_category_string(project.category)}&nbsp;&nbsp;&nbsp;&nbsp;状态：#{get_project_status_string(project.status)}".html_safe
