%h2.page-header
  .row
    .col-md-2
      查看项目
    .col-md-5.col-md-offset-5
      = link_to "主页", "#", :class=>"btn btn-default"
      = link_to "任务", "#", :class=>"btn btn-default"
      = link_to "文档", "#", :class=>"btn btn-default"
      = link_to "文件", "#", :class=>"btn btn-default"
      = link_to "回顾", "#", :class=>"btn btn-default"
      = link_to "统计", "#", :class=>"btn btn-default"

= form_for @project, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label "名称: ", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @project.title

  .form-group
    = f.label "负责人: ", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @project.user ? @project.user.name : nil

  .form-group
    = f.label "类别", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :category, generate_all_project_categories, {:selected=>@project.category}, {:disabled=>"disabled", :class=>"form-control"}

  .form-group
    = f.label "来源", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @project.source

  .form-group
    = f.label "开始时间", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @project.begin_at and @project.begin_at.strftime("%Y年%m月%d日")

  .form-group
    = f.label "结束时间", :class=>"col-md-2 control-label"
    .col-md-3
      %p.form-control-static= @project.end_at and @project.end_at.strftime("%Y年%m月%d日")

  .form-group
    = f.label "状态: ", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :status, generate_all_project_status, {:selected=>@project.status}, {:disabled=>"disabled", :class=>"form-control"}

  .form-group
    .col-md-3.col-md-offset-2
      = link_to '编辑', edit_project_path(@project), :class=>"btn btn-primary"
      = link_to '删除', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-danger"

