= render "sub_navbar"

.row
  .col-md-5
    .panel.panel-info
      .panel-heading
        %h3.panel-title 项目信息
      .panel-body
        %table.table.table-bordered
          %tr
            %th.active 负责人
            %td= @object.user ? @object.user.name : nil
          %tr
            %th.active 类别
            %td= get_project_category_string(@object.category)
          %tr
            %th.active 来源
            %td= @object.source
          %tr
            %th.active 开始时间
            %td= @object.begin_at and @object.begin_at.strftime("%Y年%m月%d日")
          %tr
            %th.active 结束时间
            %td= @object.end_at and @object.end_at.strftime("%Y年%m月%d日")
          %tr
            %th.active 状态
            %td= get_project_status_string(@object.status)

        - if can? :update, @object
          = link_to '编辑', edit_project_path(@object), :class=>"btn btn-primary"
        - if can? :destory, @object
          = link_to '删除', @object, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-danger"

  .col-md-7
    .panel.panel-danger
      .panel-heading
        %h3.panel-title 项目动态
      .panel-body
        %table.table.table-hover
          - @documents.each do |document|
            %tr
              %td
                .row
                  .col-md-7
                    = link_to document.title, [@object, document]
                  .col-md-2
                    = document.user && document.user.name
                  .col-md-3
                    = document.created_at.strftime("%m-%d %H:%M")

        = link_to '新建文档', new_project_document_path(@object), :class=>"btn btn-default"

