= form_for @paper, :html=>{:class=>"form-horizontal"} do |f|
  - if @paper.errors.any?
    #error_explanation
      %h2= "#{pluralize(@paper.errors.count, "error")} prohibited this paper from being saved:"
      %ul
        - @paper.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "题目", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :title, :class=>"form-control"

  .form-group
    = f.label "作者", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :user_id, @users.map{|u| [u.name, u.id]}, {:selected=>(@paper.user ? @paper.user.id : nil)}, {:class=>"form-control"}

  .form-group
    = f.label "期刊", :class=>"col-md-2 control-label"
    .col-md-3
      = f.text_field :magazine, :class=>"form-control"

  .form-group
    = f.label "状态", :class=>"col-md-2 control-label"
    .col-md-3
      = f.select :status, generate_all_paper_status, {:selected=>@paper.status}, {:class=>"form-control"}

  .form-group
    .col-md-3.col-md-offset-2
      = f.submit '保存', :class=>"btn btn-default"

