%h1.page-header 论文管理

%table.table.table-striped
  %tr
    %th 题目
    %th 作者
    %th 期刊
    %th 状态
    %th 操作

  - @papers.each do |paper|
    %tr
      %td= paper.title
      %td= paper.user && paper.user.name
      %td= paper.magazine
      %td
        - if paper.status == Setting.papers.status_submit
          = Setting.papers.status_submit_string
        - elsif paper.status == Setting.papers.status_accept
          = Setting.papers.status_accept_string
        - elsif paper.status == Setting.papers.status_publish
          = Setting.papers.status_publish_string
      %td
        = link_to '查看', paper
        = link_to '编辑', edit_paper_path(paper)
        = link_to '删除', paper, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to '新建论文', new_paper_path, :class=>"btn btn-default"
