- provide(:title, "论文管理")

%h1.page-header 论文管理

.row
  .col-md-9
    .well
      .row
        .col-md-3.col-md-offset-5
          = link_to '新建论文', new_paper_path, :class=>"btn btn-lg btn-success"

%br

- @papers.each_slice(3) do |slice|
  .row
    - slice.each do |paper|
      .col-md-3.black-link
        %a{:href=>paper_path(paper)}
          .offer.offer-danger
            .shape
              .shape-text hot
            .offer-content
              %h4.lead= paper.title
              %p
                = "作者：#{paper.user && paper.user.name}"
                %br
                = "期刊：#{paper.magazine}"
                %br
                = "状态：#{get_paper_status_string(paper.status)}"

