= form_for @daily, :html=>{:class=>"form-horizontal"} do |f|
  - if @daily.errors.any?
    #error_explanation
      %h2= "#{pluralize(@daily.errors.count, "error")} prohibited this daily from being saved:"
      %ul
        - @daily.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-md-11
      = f.text_area :content, :value=>get_daily_template, :rows=>10, :class=>"form-control"
      = f.hidden_field :date, :value=>@query_date

  .form-group
    = f.submit 'å‘å¸ƒ', :class=>"btn btn-default"
