- provide(:title, "团队日报")

%h1.page-header 团队日报

= render "tab_bar"

%br

.row
  .col-md-8
    %br
    %p 团队当天日报提交情况：
    .well
      %h5= "已提交: #{@send_percent}%"
      %h5= "未提交: #{@send_percent == 0 ? 0 : 100 - @send_percent}%"

  .col-md-2.col-md-offset-1
    #calendar-container
    = render "calendar_group"

%h3 当天日报提交情况和评价
%table.table.table-striped
  - @users_dailies.each do |item|
    %tr
      - if item[:daily]
        %td= link_to item[:user].name, daily_path(item[:daily])
      - else
        %td= item[:user].name
      - if item[:status] == Setting.dailies.send_not
        %td
          %span.glyphicon.glyphicon-remove
      - else
        %td
          %span.glyphicon.glyphicon-ok
      - if item[:status] == Setting.dailies.send_not
        %td 未提交
      - elsif item[:status] == Setting.dailies.send_overdate
        %td 逾期提交
      - else
        %td 按时提交

