%h1.page-header 课题组日报

%ul.nav.nav-tabs
  %li{:class => (action_name=="someday"?"active":nil)}= link_to "我的日报", "/dailies/someday/#{Time.now.strftime("%Y-%m-%d")}"
  %li= link_to "小组日报", "#"
  %li{:class => (action_name=="group"?"active":nil)}= link_to "课题组日报", "/dailies/group/#{Time.now.strftime("%Y-%m-%d")}"

%br

.row
  .col-md-8
    %br
    %p 课题组当天日报提交情况：
    .well
      %h3 统计图

  .col-md-2.col-md-offset-1
    #calendar-container
    = render "calendar_group"

%h3 当天日报提交情况和评价
%table.table.table-striped
  - @users_dailies.each do |item|
    %tr
      - if item[:daily]
        %td= link_to item[:user].name, daily_path(item[:daily])
      - else
        %td= item[:user].name
      - if item[:status] == Setting.dailies.send_not
        %td
          %span.glyphicon.glyphicon-remove
      - else
        %td
          %span.glyphicon.glyphicon-ok
      - if item[:status] == Setting.dailies.send_not
        %td 未提交
      - elsif item[:status] == Setting.dailies.send_overdate
        %td 逾期提交
      - else
        %td 按时提交

