%h1.page-header 课题组日报

%ul.nav.nav-tabs
  %li{:class => (action_name=="index"?"active":nil)}= link_to "我的日报", dailies_path
  %li= link_to "小组日报", "#"
  %li{:class => (action_name=="group"?"active":nil)}= link_to "课题组日报", group_dailies_path

%br

.row
  .col-md-9
    statistics

  .col-md-2
    #calendar-container

    <script type="text/javascript">
    $('#calendar-container').datepicker({
    weekStart: 1,
    language: "zh-CN",
    todayHighlight: true
    });
    </script>

%br
%br

%table.table.table-striped
  %tr
    %th 姓名
    %th 身份
    %th 邮箱
    %th 电话
    %th 操作

  - @users.each do |user|
    %tr
      %td= link_to user.name, user_path(user)
      %td= user.identity
      %td= user.email
      %td= user.phone
      %td

