%h1.page-header 我的日报

%ul.nav.nav-tabs
  %li{:class => (action_name=="someday"?"active":nil)}= link_to "我的日报", "/dailies/someday/#{Time.now.strftime("%Y-%m-%d")}"
  %li= link_to "小组日报", "#"
  %li{:class => (action_name=="group"?"active":nil)}= link_to "课题组日报", "/dailies/group/#{Time.now.strftime("%Y-%m-%d")}"

%br

.row
  .col-md-9
    %table.table.table-striped
      %tr
        %th 内容
        %th 用户
        %th 日期
        %th 创建
        %th 操作
    
      - @dailies.each do |daily|
        %tr
          %td= daily.content
          %td= daily.user
          %td= daily.date
          %td= daily.created_at
          %td
            = link_to 'Show', daily
            = link_to 'Edit', edit_daily_path(daily)
            = link_to 'Destroy', daily, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .col-md-2
    #calendar-container

    <script type="text/javascript">
    $('#calendar-container').datepicker({
    weekStart: 1,
    language: "zh-CN",
    todayHighlight: true
    }).on('changeDate', function(e){
    var clickDate = e.format("yyyy-mm-dd");
    window.location.href="/dailies/someday/" + clickDate; 
    });
    </script>

%br
%br

= render 'form'

