%h1.page-header 我的日报

= render "tab_bar"

%br

.row
  .col-md-8
    %br
    %p 个人当天日报提交情况：
    .well
      - if @cur_daily
        - if @cur_daily.date.strftime("%Y-%m-%d") < @cur_daily.created_at.strftime("%Y-%m-%d")
          %h3
            %span.glyphicon.glyphicon-ok
            逾期提交
            = @cur_daily.created_at.strftime("%Y年%m月%d日 %H:%M")
        - else
          %h3
            %span.glyphicon.glyphicon-ok
            按时提交
            = @cur_daily.created_at.strftime("%Y年%m月%d日 %H:%M")
      - else
        %h3
          %span.glyphicon.glyphicon-remove
          未提交

  .col-md-2.col-md-offset-1
    #calendar-container
    = render "calendar"

- if @cur_daily
  %br
  %hr
  %h3= "#{@cur_daily.date.strftime("%Y年%m月%d日")}日报"
  %p= "提交时间: #{@cur_daily.created_at.strftime("%Y-%m-%d %H:%M")}"
  - if @cur_daily.user
    %p= "提交人: #{@cur_daily.user.name}"
  - else
    %p= "提交人: "
  %p 日报内容:
  %p= @cur_daily.content
  = link_to "修改", edit_daily_path(@cur_daily), :class=>"btn btn-primary"
- else
  %br
  %br
  = render 'form'

