%h3.page-header= "#{@daily.date.strftime("%Y年%m月%d日")}日报"

= form_for @daily, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label "提交时间: ", :class=>"col-md-1 control-label"
    .col-md-2
      %p.form-control-static= @daily.created_at.strftime("%Y-%m-%d %H:%M")
    = f.label "提交人: ", :class=>"col-md-1 control-label"
    .col-md-1
      %p.form-control-static= @daily.user.name

  .form-group
    .col-md-8
      = f.text_area :content, :value=>@daily.content, :rows=>10, :class=>"form-control"

