%h3.page-header= "#{@daily.date.strftime("%Y年%m月%d日")}日报"

= form_for @daily, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    = f.label "提交时间: ", :class=>"col-md-1 control-label"
    .col-md-2
      %p.form-control-static= @daily.created_at.strftime("%Y-%m-%d %H:%M")
    = f.label "提交人: ", :class=>"col-md-1 control-label"
    .col-md-1
      %p.form-control-static= @daily.user.name

  .form-group
    .col-md-8
      = f.text_area :content, :value=>@daily.content, :rows=>10, :class=>"form-control"

%hr
%h4.page-header= "#{@comments.size} 条评论"
- @comments.each do |comment|
  .row
    .col-md-8
      .panel.panel-default
        .panel-heading
          .row
            .col-md-11
              - @floor += 1
              = "#{@floor} 楼"
              = link_to comment.user.name, comment.user
              = "#{comment.created_at.strftime("%Y-%m-%d %H:%M")} 发表"
            .col-md-1
              - if can? :destroy, comment
                = link_to '删除', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }
        .panel-body
          = comment.content

%h4 发表评论
= form_for @comment, :html=>{:class=>"form-horizontal"} do |f|
  .form-group
    .col-md-7
      = f.text_area :content, :value=>@comment.content, :rows=>5, :class=>"form-control"
      = f.hidden_field :daily_id, :value=>@daily.id
    = f.submit '提交', :class=>"btn btn-success"

