%h3.page-header= "#{@daily.date.strftime("%Y年%m月%d日")}日报"
%p= "提交时间: #{@daily.created_at.strftime("%Y-%m-%d %H:%M")}"
- if @daily.user
  %p= "提交人: #{@daily.user.name}"
- else
  %p= "提交人: "
%p 日报内容:
%p= @daily.content
