%h1.page-header 我的日报

%ul.nav.nav-tabs
  %li{:class => (action_name=="someday"?"active":nil)}= link_to "我的日报", dailies_path
  %li= link_to "小组日报", "#"
  %li{:class => (action_name=="group"?"active":nil)}= link_to "课题组日报", group_dailies_path

%br

.row
  .col-md-8
    %br
    %p 个人当天日报提交情况
    .well
      - if @dailies.size > 0
        - if @dailies.first.date.strftime("%Y-%m-%d") < @dailies.first.created_at.strftime("%Y-%m-%d")
          %h3
            %span.glyphicon.glyphicon-ok
            逾期提交
            = @dailies.first.created_at.strftime("%Y年%m月%d日 %H:%M")
        - else
          %h3
            %span.glyphicon.glyphicon-ok
            按时提交
            = @dailies.first.created_at.strftime("%Y年%m月%d日 %H:%M")
      - else
        %h3
          %span.glyphicon.glyphicon-remove
          未提交

  .col-md-2.col-md-offset-1
    #calendar-container
    = render "calendar"

- if @dailies.size > 0
  %br
  %hr
  %h3= "#{@dailies.first.created_at.strftime("%Y年%m月%d日")}日报"
  %p= "提交时间: #{@dailies.first.created_at.strftime("%Y-%m-%d %H:%M")}"
  %p= "提交人: #{@dailies.first.user.name}"
  %p 日报内容:
  %p= @dailies.first.content
- else
  %br
  %br
  = render 'form'

