%h1.page-header 我的日报

%ul.nav.nav-tabs
  %li{:class => (action_name=="index"?"active":nil)}= link_to "我的日报", dailies_path
  %li= link_to "小组日报", "#"
  %li{:class => (action_name=="group"?"active":nil)}= link_to "课题组日报", group_dailies_path

%br

.row
  .col-md-9
    %table.table.table-striped
      %tr
        %th 内容
        %th 日期
        %th 创建
        %th 操作
    
      - @dailies.each do |daily|
        %tr
          %td= daily.content
          %td= daily.date
          %td= daily.created_at
          %td
            = link_to 'Show', daily
            = link_to 'Edit', edit_daily_path(daily)
            = link_to 'Destroy', daily, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .col-md-2
    #calendar-container
    = render "calendar"

%br
%br

= render 'form'

