- provide(:title, "小组日报")

%h1.page-header 小组日报

= render "tab_bar"

%br

.row
  .col-md-8
    %br
    %p 小组当天日报提交情况：
    .well
      %h5= "已提交: #{@send_percent}%"
      %h5= "未提交: #{@send_percent == 0 ? 0 : 100 - @send_percent}%"

  .col-md-2.col-md-offset-1
    #calendar-container
    = render "calendar_subgroup"

%h3 当天日报提交情况和评价
%table.table.table-striped
  - @users_dailies.each do |item|
    %tr
      %td
        .row
          .col-md-3
            - if item[:daily]
              = link_to item[:user].name, daily_path(item[:daily])
            - else
              = item[:user].name
          .col-md-2
            = "#{item[:user].grade}级" if item[:user].grade
          .col-md-2
            - if item[:status] == Setting.dailies.send_not
              %span.glyphicon.glyphicon-remove
            - else
              %span.glyphicon.glyphicon-ok
          .col-md-2
            - if item[:status] == Setting.dailies.send_not
              未提交
            - elsif item[:status] == Setting.dailies.send_overdate
              逾期提交
            - else
              按时提交

