%ul.nav.nav-sidebar
  %li= link_to "动态", "#"
  %li{:class => (controller_name=="dailies"?"active":nil)}= link_to "日报", dailies_path
  %li= link_to "计划", "#"
%ul.nav.nav-sidebar
  %li= link_to "项目", "#"
  %li{:class => (controller_name=="papers"?"active":nil)}= link_to "论文", papers_path
  %li= link_to "专利", "#"
%ul.nav.nav-sidebar
  %li{:class => (controller_name=="users"?"active":nil)}= link_to "成员", users_path
  %li= link_to "团队", "#"
  %li= link_to "资源", "#"

