.navbar-header
  %button.navbar-toggle{:type=>"button", "data-toggle"=>"collapse", "data-target"=>".navbar-collapse"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "知蛛网", root_path, :class=>"navbar-brand", :id=>"logo"

.navbar-collapse.collapse
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li= link_to "日报", "/dailies/my/#{Time.now.strftime("%Y-%m-%d")}"
      %li= link_to "计划", plans_path
      %li= link_to "科研", theses_my_path
      %li.dropdown
        %a{"data-toggle"=>"dropdown", :href=>"#"}
          = "欢迎您，#{current_user.name}"
          %b.caret
        %ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"label"}
          %li{:role=>"presentation"}
            %a{:role=>"menuitem", :tabindex=>"-1", :href=>user_path(current_user)} 个人主页
          %li{:role=>"presentation"}
            %a{:role=>"menuitem", :tabindex=>"-1", :href=>edit_user_registration_path(current_user)} 编辑资料
          %li{:role=>"presentation"}
            %a{:role=>"menuitem", :tabindex=>"-1", :href=>cancel_user_users_path(current_user)} 注销帐号
          %li{:role=>"presentation"}
            %a{:role=>"menuitem", :tabindex=>"-1", :href=>destroy_user_session_path, "data-method"=>"delete"} 退出登录
    - else
      %li= link_to "注册", new_user_registration_path
      %li= link_to "登录", new_user_session_path

