%ul.nav.nav-sidebar
  %li.active= link_to "Overview", "#"
  %li= link_to "Reports", "#"
  %li= link_to "Analytics", "#"
  %li= link_to "Export", "#"
%ul.nav.nav-sidebar
  %li= link_to "Nav item", "#"
  %li= link_to "Nav item again", "#"
  %li= link_to "One more nav", "#"
  %li= link_to "Another nav item", "#"
  %li= link_to "More navigation", "#"
%ul.nav.nav-sidebar
  %li= link_to "Nav item again", "#"
  %li= link_to "One more nav", "#"
  %li= link_to "Another nav item", "#"

