!!! 5
%html{:lang=>"zh-cn"}
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %title= "#{yield(:title)}"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    .navbar.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
      .container-fluid
        = render "layouts/navbar_top"

    .container-fluid
      .row
        .col-md-1
          .sidebar
            = render "layouts/navbar_left"

        .col-md-11
          .main
            = render "layouts/flash_messages"
            = yield

    .footer
      .container
        %p.text-center
          © 2014 科研圈 sciquan.com 吉ICP备14003739号-1
          /= link_to "吉ICP备14003739号-1", "http://www.miibeian.gov.cn/", { :target => "_blank" }

        %div{:style=>"display:none"}
          <script type="text/javascript">
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa3858568a179004b41c5feb69d5d75da' type='text/javascript'%3E%3C/script%3E"));
          </script>

